/* || GENERAL */

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background: center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: scroll;
}

p {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.25rem;
  margin: 0;
}

/* || INPUT */

.input-group {
  display: flex;
  align-items: center;
  margin: 2rem 2rem 4rem;
}

label[for='city-search'] {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  letter-spacing: 3px;
  text-align: center;
  margin-right: 1rem;
}

#search-input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid black;
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  letter-spacing: 3px;
  text-align: center;
  width: 300px;
}

.input-group span {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  margin: 0 1rem;
}

#search-button {
  background-color: transparent;
  color: gray;
  cursor: pointer;
  font-size: 2rem;
  border: 0;
  padding: 0.5rem;
}

/* || WEATHER DATA */

.error-msg {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #2866a0;
}

.city-country {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2rem;
  height: 2rem;
}

.daily {
  display: flex;
  margin-bottom: 2rem;
  width: 700px;
}

.temperature {
  flex: 1;
  text-align: center;
  margin: auto;
}

.temp {
  font-size: 3rem;
  color: #2866a0;
}

.data {
  display: flex;
  justify-content: space-between;
  flex: 5;
  letter-spacing: 1px;
  width: 500px;
}

.data > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.25rem;
}

.data > div > p {
  font-weight: bold;
  margin-top: 1rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 !important;
}

.description {
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.weather-icon {
  width: 49px;
  background-color: #a0deff;
  border: 1px solid #a0deff;
  border-radius: 50%;
}

button {
  display: block;
  padding: 1rem;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  background-color: #2866a0;
  border: 1px solid #2866a0;
  border-radius: 0.5rem;
}

/* || MEDIA QUERY */

@media only screen and (max-width: 750px) {
  .input-group {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
  }

  .input-group span {
    font-size: 3rem;
  }

  label[for='city-search'] {
    font-size: 3rem;
    margin: 0;
  }

  #search-input {
    font-size: 3rem;
    width: 250px;
  }

  #search-button {
    margin: 0;
  }

  .error-msg {
    margin-top: 2rem;
  }

  .city-country {
    font-size: 1.5rem;
  }

  .daily {
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 100%;
    margin-bottom: 1rem;
  }

  .data {
    flex-direction: column;
    width: 100%;
  }

  .data > div {
    justify-content: center;
  }

  .temperature {
    margin-bottom: 1rem;
  }

  .icon {
    flex: 1 !important;
  }

  .unit-button {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}
