/* || GENERAL */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  margin: 0;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

label[for='city-search'] {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-right: 1rem;
}

#search-input {
  border: 0;
  border-bottom: 1px solid black;
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  letter-spacing: 3px;
  width: 300px;
}

.input-group span {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  margin: 0 1rem;
}

#search-button {
  background-color: transparent;
  color: gray;
  cursor: pointer;
  font-size: 2rem;
  border: 0;
  padding: 0.5rem;
}

.daily {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
}

.description {
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.weather-icon {
  width: 75px;
}

.data {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}
